name: Java Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        java: [17, 21, 25]
      fail-fast: false
    name: Test on JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: adopt
    - name: Formatting check
      run: mvn -B spotless:check
    - name: Test with Maven
      run: mvn -B --file pom.xml test
    - name: Verify with Maven
      run: mvn -B -f pom.xml verify
